# Chapter 6 Data Analysis

In [1]:
import pandas as pd

In [2]:
hyper_q = [
    {'name': 'simpleHyperQ', 'streams': 1, 'time': 0.02, 'unit': 's'},
    {'name': 'simpleHyperQ', 'streams': 4, 'time': 0.02, 'unit': 's'},
    {'name': 'simpleHyperQ', 'streams': 8, 'time': 0.02, 'unit': 's'},
    {'name': 'simpleHyperQ', 'streams': 16, 'time': 0.03, 'unit': 's'},
    {'name': 'simpleHyperQ', 'streams': 32, 'time': 0.05, 'unit': 's'},
    
    {'name': 'simpleHyperqDepth', 'streams': 1, 'time': 10.802, 'unit': 's'},
    {'name': 'simpleHyperqDepth', 'streams': 4, 'time': 10.802, 'unit': 's'},
    {'name': 'simpleHyperqDepth', 'streams': 8, 'time': 10.803, 'unit': 's'},
    {'name': 'simpleHyperqDepth', 'streams': 16, 'time': 18.917, 'unit': 's'},
    {'name': 'simpleHyperqDepth', 'streams': 32, 'time': 34.906, 'unit': 's'},
    
    {'name': 'simpleHyperqBreadth', 'streams': 1, 'time': 10.802, 'unit': 's'},
    {'name': 'simpleHyperqBreadth', 'streams': 4, 'time': 10.802, 'unit': 's'},
    {'name': 'simpleHyperqBreadth', 'streams': 8, 'time': 10.803, 'unit': 's'},
    {'name': 'simpleHyperqBreadth', 'streams': 16, 'time': 18.916, 'unit': 's'},
    {'name': 'simpleHyperqBreadth', 'streams': 32, 'time': 34.917, 'unit': 's'},
    
    {'name': 'simpleHyperqOpenmp', 'streams': 1, 'time': 10.802, 'unit': 's'},
    {'name': 'simpleHyperqOpenmp', 'streams': 4, 'time': 10.803, 'unit': 's'},
    {'name': 'simpleHyperqOpenmp', 'streams': 8, 'time': 10.805, 'unit': 's'},
    {'name': 'simpleHyperqOpenmp', 'streams': 16, 'time': 18.919, 'unit': 's'},
    {'name': 'simpleHyperqOpenmp', 'streams': 32, 'time': 34.923, 'unit': 's'},
    
    {'name': 'simpleHyperqDependence', 'streams': 1, 'time': 10.802, 'unit': 's'},
    {'name': 'simpleHyperqDependence', 'streams': 4, 'time': 21.604, 'unit': 's'},
    {'name': 'simpleHyperqDependence', 'streams': 8, 'time': 21.604, 'unit': 's'},
    {'name': 'simpleHyperqDependence', 'streams': 16, 'time': 29.617, 'unit': 's'},
    {'name': 'simpleHyperqDependence', 'streams': 32, 'time': 43.043, 'unit': 's'}
]

multi_add = [
    {'name': 'simpleMultiAddDepth', 'streams': 1, 'mem_h2d': 0.166304, 'mem_d2h': 0.079968, 
     'kernel': 569.328491, 'total': 569.574768, 'overlap': 569.4375, 'speedup': 0.024100, 'unit': 'ms'},
    {'name': 'simpleMultiAddDepth', 'streams': 4, 'mem_h2d': 0.164768, 'mem_d2h': 0.092672, 
     'kernel': 569.162964, 'total': 569.420410, 'overlap': 142.826721, 'speedup': 74.917175, 'unit': 'ms'},
    {'name': 'simpleMultiAddDepth', 'streams': 8, 'mem_h2d': 0.149952, 'mem_d2h': 0.081440, 
     'kernel': 569.181641, 'total': 569.413025, 'overlap': 71.428062, 'speedup': 87.455841, 'unit': 'ms'},
    {'name': 'simpleMultiAddDepth', 'streams': 16, 'mem_h2d': 0.164640, 'mem_d2h': 0.079520, 
     'kernel': 572.364380, 'total': 572.608521, 'overlap': 35.882305, 'speedup': 93.733536, 'unit': 'ms'},
    {'name': 'simpleMultiAddDepth', 'streams': 32, 'mem_h2d': 0.153024, 'mem_d2h': 0.076640, 
     'kernel': 569.228333, 'total': 569.458008, 'overlap': 18.100544, 'speedup': 96.82144, 'unit': 'ms'},
    
    {'name': 'simpleMultiAddBreadth', 'streams': 1, 'mem_h2d': 0.165536, 'mem_d2h': 0.075648, 
     'kernel': 569.532593, 'total': 569.773743, 'overlap': 569.558594, 'speedup': 0.037760, 'unit': 'ms'},
    {'name': 'simpleMultiAddBreadth', 'streams': 4, 'mem_h2d': 0.163040, 'mem_d2h': 0.090752, 
     'kernel': 569.183533, 'total': 569.437317, 'overlap': 142.868607, 'speedup': 74.910568, 'unit': 'ms'},
    {'name': 'simpleMultiAddBreadth', 'streams': 8, 'mem_h2d': 0.170432, 'mem_d2h': 0.089984, 
     'kernel': 569.209106, 'total': 569.469482, 'overlap': 71.462013, 'speedup': 87.451126, 'unit': 'ms'},
    {'name': 'simpleMultiAddBreadth', 'streams': 16, 'mem_h2d': 0.157536, 'mem_d2h': 0.090304, 
     'kernel': 569.207825, 'total': 569.455688, 'overlap': 35.945217, 'speedup': 93.687798, 'unit': 'ms'},
    {'name': 'simpleMultiAddBreadth', 'streams': 32, 'mem_h2d': 0.172096, 'mem_d2h': 0.095904, 
     'kernel': 569.239258, 'total': 569.507263, 'overlap': 18.322847, 'speedup': 96.782677, 'unit': 'ms'},    
]

callback = [
    {'name': 'simpleCallback', 'streams': 1, 'time': 2.258, 'unit': 's'},
    {'name': 'simpleCallback', 'streams': 4, 'time': 2.258, 'unit': 's'},
    {'name': 'simpleCallback', 'streams': 8, 'time': 2.258, 'unit': 's'},
    {'name': 'simpleCallback', 'streams': 16, 'time': 4.516, 'unit': 's'},
    {'name': 'simpleCallback', 'streams': 32, 'time': 9.031, 'unit': 's'},
]

In [3]:
df_callback = pd.DataFrame(callback)
df_callback

             name  streams   time unit
0  simpleCallback        1  2.258    s
1  simpleCallback        4  2.258    s
2  simpleCallback        8  2.258    s
3  simpleCallback       16  4.516    s
4  simpleCallback       32  9.031    s

In [4]:
df_multi_add = pd.DataFrame(multi_add)
df_multi_add

,name,streams,mem_h2d,mem_d2h,kernel,total,overlap,speedup,unit
0,simpleMultiAddDepth,1,0.166304,0.079968,569.328491,569.574768,569.437500,0.024100,ms
1,simpleMultiAddDepth,4,0.164768,0.092672,569.162964,569.420410,142.826721,74.917175,ms
2,simpleMultiAddDepth,8,0.149952,0.081440,569.181641,569.413025,71.428062,87.455841,ms
3,simpleMultiAddDepth,16,0.164640,0.079520,572.364380,572.608521,35.882305,93.733536,ms
4,simpleMultiAddDepth,32,0.153024,0.076640,569.228333,569.458008,18.100544,96.821440,ms
5,simpleMultiAddBreadth,1,0.165536,0.075648,569.532593,569.773743,569.558594,0.037760,ms
6,simpleMultiAddBreadth,4,0.163040,0.090752,569.183533,569.437317,142.868607,74.910568,ms
7,simpleMultiAddBreadth,8,0.170432,0.089984,569.209106,569.469482,71.462013,87.451126,ms
8,simpleMultiAddBreadth,16,0.157536,0.090304,569.207825,569.455688,35.945217,93.687798,ms
9,simpleMultiAddBreadth,32,0.172096,0.095904,569.239258,569.507263,18.322847,96.782677,ms

In [8]:
df_multi_add[['name', 'streams', 'overlap']]

                    name  streams     overlap
0    simpleMultiAddDepth        1  569.437500
1    simpleMultiAddDepth        4  142.826721
2    simpleMultiAddDepth        8   71.428062
3    simpleMultiAddDepth       16   35.882305
4    simpleMultiAddDepth       32   18.100544
5  simpleMultiAddBreadth        1  569.558594
6  simpleMultiAddBreadth        4  142.868607
7  simpleMultiAddBreadth        8   71.462013
8  simpleMultiAddBreadth       16   35.945217
9  simpleMultiAddBreadth       32   18.322847

In [5]:
df_hyper_q = pd.DataFrame(hyper_q)
df_hyper_q

                      name  streams    time unit
0             simpleHyperQ        1   0.020    s
1             simpleHyperQ        4   0.020    s
2             simpleHyperQ        8   0.020    s
3             simpleHyperQ       16   0.030    s
4             simpleHyperQ       32   0.050    s
5        simpleHyperqDepth        1  10.802    s
6        simpleHyperqDepth        4  10.802    s
7        simpleHyperqDepth        8  10.803    s
8        simpleHyperqDepth       16  18.917    s
9        simpleHyperqDepth       32  34.906    s
10     simpleHyperqBreadth        1  10.802    s
11     simpleHyperqBreadth        4  10.802    s
12     simpleHyperqBreadth        8  10.803    s
13     simpleHyperqBreadth       16  18.916    s
14     simpleHyperqBreadth       32  34.917    s
15      simpleHyperqOpenmp        1  10.802    s
16      simpleHyperqOpenmp        4  10.803    s
17      simpleHyperqOpenmp        8  10.805    s
18      simpleHyperqOpenmp       16  18.919    s
19      simpleHyperqOpenmp       32  34.923    s
20  simpleHyperqDependence        1  10.802    s
21  simpleHyperqDependence        4  21.604    s
22  simpleHyperqDependence        8  21.604    s
23  simpleHyperqDependence       16  29.617    s
24  simpleHyperqDependence       32  43.043    s